
<!-- Navigation panel -->
            <nav class="main-nav js-stick" >
                <div class="container">
                <div class="full-wrapper relative clearfix">
                    <!-- Logo ( * your text or image into link tag *) -->
                    <div class="nav-logo-wrap local-scroll">
                        <a href="/" class="logo">
                           Flea
                        </a>
                    </div>
                    <div class="mobile-nav">
                        <i class="fa fa-bars"></i>
                    </div>
                    
                    <!-- Main Menu -->
                    <div class="inner-nav desktop-nav">
                        <ul class="clearlist" style="font-size: 16px !important;
													font-weight: bold !important;
													">
                            
                            <!-- Item With Sub -->
                            <li>
                                <a href="#" class="mn-has-sub">공지사항 <i class="fa fa-angle-down"></i></a>
                                
                                
                            </li>
                            <!-- End Item With Sub -->
                            
                            <!-- Item With Sub -->
                            <li>
                                <a href="#" class="mn-has-sub">이번 주 참가현황 <i class="fa fa-angle-down"></i></a>
                                
                                
                                
                            </li>
                            <!-- End Item With Sub -->
                            
                            <!-- Item With Sub -->
                            <li>
                                <a href="/attend/register">참가신청 </a>
                                
                                
                            </li>
                            <!-- End Item With Sub -->
                            
                            <!-- Item With Sub -->
                            <li>
                                <a href="/questions" class="mn-has-sub">Q & A <i class="fa fa-angle-down"></i></a>
                                
                                
                            </li>
                            <!-- End Item With Sub -->
                            
                            <!-- Item With Sub -->
                            <% if user_signed_in? %>
                            <li class="dropdown">
					          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
					          	반갑습니다 <span class="caret"></span></a>
					          <ul class="dropdown-menu" role="menu">
					            <span class="navbar-text" style="padding-left: 24px;">
					            <strong><%= current_user.name %></strong><br /> 으로 로그인 함</span>
					            <li class="divider"></li>
					            
					            <li><a href="#">프로필</a></li>
					            <li><a href="#">Something else here</a></li>
					            
					            <li class="divider"></li>
					            <li><a href="/users/edit">회원정보 수정</a></li>
					            <li><a href="/users/sign_out">로그아웃</a></li>
					          </ul>
        					</li>
                            
                            <% else %>
                            <li>
                                <a href="/users/sign_in">로그인</a>
                                
                                
                                
                            </li>
                            <!-- End Item With Sub -->
                            
                            <!-- Item With Sub -->
                            <li>
                                <a href="/users/sign_up" class="active">회원가입</a>
                                
                            </li>
                            <!-- End Item With Sub -->
                            <% end %>
                            
                           
                        </ul>
                    </div>
                    <!-- End Main Menu -->
                    

                </div>
                </div>
            </nav>
            <!-- End Navigation panel -->
            
