<!DOCTYPE html>
<html>
    <head>
        <title>FleaMarket &mdash; Home</title>
    </head>
    
    <body class="appear-animate">
        
        <!-- Page Loader -->        
        <div class="page-loader">
            <div class="loader">Loading...</div>
        </div>
        <!-- End Page Loader -->
        
        <!-- Page Wrap -->
        <div class="page" id="top">
            
            
            
            
            <!-- Fullwidth Slider -->
            <div class="home-section fullwidth-slider bg-dark">
                
                <!-- Slide Item -->
                <section class="page-section bg-scroll bg-dark bg-dark-alfa-50" data-background="assets/fashion/section-bg-2.jpg">
                    <div class="relative container">
                        
                        <!-- Hero Content -->
                        <div class="home-content">
                            <div class="home-text">
                                
                                <div class="row">
                                    <div class="col-md-8 col-md-offset-2">
                                        
                                        <div class="row">
                                            <div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                                                <a href="shop-columns-2col.html"><img src="assets/fashion/summer.png" style="" alt="" /></a>
                                            </div>
                                        </div>
                                        
                                        <h1 class="hs-line-6 no-transp font-alt">Collection 2016 <a href="shop-columns-2col.html" class="btn btn-mod btn-w btn-round" style="margin-top:-3px;">Shop Now</a></h1>
                                            
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <!-- End Hero Content -->
                        
                    </div>
                </section>
                <!-- End Slide Item -->
                
                <!-- Slide Item -->
                <section class="page-section bg-scroll bg-dark bg-dark-alfa-50" data-background="assets/fashion/section-bg-3.jpg">
                    <div class="relative container">
                        
                        <!-- Hero Content -->
                        <div class="home-content">
                            <div class="home-text">
                                
                                <div class="row">
                                    <div class="col-md-8 col-md-offset-2">
                                        
                                        <div class="row">
                                            <div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                                                <a href="shop-columns-2col.html"><img src="assets/fashion/autumn.png" style="" alt="" /></a>
                                            </div>
                                        </div>
                                        
                                        <h1 class="hs-line-6 no-transp font-alt">Collection 2016 <a href="shop-columns-2col.html" class="btn btn-mod btn-w btn-round" style="margin-top:-3px;">Shop Now</a></h1>
                                            
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <!-- End Hero Content -->
                        
                    </div>
                </section>
                <!-- End Slide Item -->
                
                <!-- Slide Item -->
                <section class="page-section bg-scroll bg-dark bg-dark-alfa-50" data-background="assets/fashion/section-bg-1.jpg">
                    <div class="relative container">
                        
                        <!-- Hero Content -->
                        <div class="home-content">
                            <div class="home-text">
                                
                                <div class="row">
                                    <div class="col-md-8 col-md-offset-2">
                                        
                                        <div class="row">
                                            <div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                                                <a href="shop-columns-2col.html"><img src="assets/fashion/spring.png" style="" alt="" /></a>
                                            </div>
                                        </div>
                                        
                                        <h1 class="hs-line-6 no-transp font-alt">Collection 2016 <a href="shop-columns-2col.html" class="btn btn-mod btn-w btn-round" style="margin-top:-3px;">Shop Now</a></h1>
                                            
                                   </div>
                                </div>
                                
                            </div>
                        </div>
                        <!-- End Hero Content -->
                        
                    </div>
                </section>
                <!-- End Slide Item -->
            
            </div>
            <!-- End Fullwidth Slider -->
            
            
            <!-- Section -->
            <section class="page-section bg-dark pt-10 pb-0">
                <div class="relative">
                    
                    <!-- Grid -->
                    <ul class="works-grid work-grid-gut work-grid-3 clearfix font-alt hover-white hide-titles" id="work-grid">
                        
                        <!-- Item -->
                        <li class="work-item">
                            <div class="post-prev-img mb-0">
                                <a href="shop-columns-2col.html" class="work-ext-link"><img src="assets/fashion/image-1.jpg" alt="" /></a>
                            </div>
                        </li>
                        <!-- End Item -->
                        
                        <!-- Item -->
                        <li class="work-item">
                            <div class="post-prev-img mb-0">
                                <a href="shop-columns-2col.html" class="work-ext-link"><img src="assets/fashion/image-2.jpg" alt="" /></a>
                            </div>
                        </li>
                        <!-- End Item -->
                        
                        <!-- Item -->
                        <li class="work-item">
                            <div class="post-prev-img mb-0">
                                <a href="shop-columns-2col.html" class="work-ext-link"><img src="assets/fashion/image-3.jpg" alt="" /></a>
                            </div>
                        </li>
                        <!-- End Item -->
                        
                    </ul>
                    <!-- End Grid -->
                    
                </div>
            </section>
            <!-- End Section -->
            
            
            
            <!-- Section -->
            <section class="page-section">
                <div class="container relative">
                    
                    <h2 class="section-title font-alt mb-70 mb-sm-40">
                        New Products
                    </h2>
                    
                    <div class="row multi-columns-row">
                        <!-- Shop Item -->
                        <div class="col-md-3 col-lg-3 mb-40">
                            
                            <div class="post-prev-img">
                                
                                <a href="shop-single.html"><img src="assets/shop/shop-prev-1.jpg" alt="" /></a>
                                
                                <div class="intro-label">
                                    <span class="label label-danger bg-red">Sale</span>
                                </div>
                                
                            </div>
                            
                            <div class="post-prev-title font-alt align-center">
                                <a href="shop-single.html">G-Star Polo Applique Jersey</a>
                            </div>
    
                            <div class="post-prev-text align-center mb-0">
                                <del>$150.00</del>
                                &nbsp;
                                <strong>$94.75</strong>
                            </div>

                            
                        </div>
                        <!-- End Shop Item -->
                        
                        <!-- Shop Item -->
                        <div class="col-md-3 col-lg-3 mb-40">
                            
                            <div class="post-prev-img">
                                <a href="shop-single.html"><img src="assets/shop/shop-prev-2.jpg" alt="" /></a>
                            </div>
                            
                            <div class="post-prev-title font-alt align-center">
                                <a href="shop-single.html">Only & Sons Pique Polo Shirt</a>
                            </div>
    
                            <div class="post-prev-text align-center mb-0">
                                <strong>$28.99</strong>
                            </div>

                            
                        </div>
                        <!-- End Shop Item -->
                        
                        <!-- Shop Item -->
                        <div class="col-md-3 col-lg-3 mb-40">
                            
                            <div class="post-prev-img">
                                <a href="shop-single.html"><img src="assets/shop/shop-prev-3.jpg" alt="" /></a>
                            </div>
                            
                            <div class="post-prev-title font-alt align-center">
                                <a href="shop-single.html">Longline Long Sleeve T-shirt</a>
                            </div>
    
                            <div class="post-prev-text align-center mb-0">
                                <strong>$39.99</strong>
                            </div>

                            
                        </div>
                        <!-- End Shop Item -->
                        
                        <!-- Shop Item -->
                        <div class="col-md-3 col-lg-3 mb-40">
                            
                            <div class="post-prev-img">
                                <a href="shop-single.html"><img src="assets/shop/shop-prev-4.jpg" alt="" /></a>
                            </div>
                            
                            <div class="post-prev-title font-alt align-center">
                                <a href="shop-single.html">Polo Shirt With Floral Sleeves</a>
                            </div>
    
                            <div class="post-prev-text align-center mb-0">
                                <strong>$85.99</strong>
                            </div>

                            
                        </div>
                        <!-- End Shop Item -->
                        
                        <!-- Shop Item -->
                        <div class="col-md-3 col-lg-3 mb-40">
                            
                            <div class="post-prev-img">
                                
                                <a href="shop-single.html"><img src="assets/shop/shop-prev-5.jpg" alt="" /></a>
                                
                                <div class="intro-label">
                                    <span class="label label-danger bg-red">Sale</span>
                                </div>
                                
                            </div>
                            
                            <div class="post-prev-title font-alt align-center">
                                <a href="shop-single.html">G-Star Polo Applique Jersey</a>
                            </div>
    
                            <div class="post-prev-text align-center mb-0">
                                <del>$150.00</del>
                                &nbsp;
                                <strong>$94.75</strong>
                            </div>

                            
                        </div>
                        <!-- End Shop Item -->
                        
                        <!-- Shop Item -->
                        <div class="col-md-3 col-lg-3 mb-40">
                            
                            <div class="post-prev-img">
                                <a href="shop-single.html"><img src="assets/shop/shop-prev-6.jpg" alt="" /></a>
                            </div>
                            
                            <div class="post-prev-title font-alt align-center">
                                <a href="shop-single.html">Only & Sons Pique Polo Shirt</a>
                            </div>
    
                            <div class="post-prev-text align-center mb-0">
                                <strong>$28.99</strong>
                            </div>

                            
                        </div>
                        <!-- End Shop Item -->
                        
                        <!-- Shop Item -->
                        <div class="col-md-3 col-lg-3 mb-40">
                            
                            <div class="post-prev-img">
                                <a href="shop-single.html"><img src="assets/shop/shop-prev-7.jpg" alt="" /></a>
                            </div>
                            
                            <div class="post-prev-title font-alt align-center">
                                <a href="shop-single.html">Longline Long Sleeve T-shirt</a>
                            </div>
    
                            <div class="post-prev-text align-center mb-0">
                                <strong>$39.99</strong>
                            </div>

                            
                        </div>
                        <!-- End Shop Item -->
                        
                        <!-- Shop Item -->
                        <div class="col-md-3 col-lg-3 mb-40">
                            
                            <div class="post-prev-img">
                                <a href="shop-single.html"><img src="assets/shop/shop-prev-8.jpg" alt="" /></a>
                            </div>
                            
                            <div class="post-prev-title font-alt align-center">
                                <a href="shop-single.html">Polo Shirt With Floral Sleeves</a>
                            </div>
    
                            <div class="post-prev-text align-center mb-0">
                                <strong>$85.99</strong>
                            </div>

                            
                        </div>
                        <!-- End Shop Item -->
                    </div>
                    
                    <div class="mt-20 align-center">
                        <a href="" class="btn btn-mod btn-round btn-medium">See More Products</a>
                    </div>
                
                </div>
            </section>
            <!-- End Section -->
            
            
            <!-- Section -->
            <section class="page-section bg-gray-lighter">
                <div class="container relative">
                    
                    <h2 class="section-title font-alt mb-70 mb-sm-40">
                        Looking for something awesome?
                    </h2>
                    
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="section-text align-center mb-70 mb-xs-40">
                                Curabitur eu adipiscing lacus, a iaculis diam. Nullam placerat blandit auctor. Nulla accumsan ipsum et nibh rhoncus, eget tempus sapien ultricies. Donec mollis lorem vehicula.
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        
                        <!-- Item -->
                        <div class="col-sm-4 mb-20 wow fadeIn" data-wow-delay="0.1s" data-wow-duration="2s">
                            
                            <div class="post-prev-img">
                                <a href="#"><img src="assets/fashion/image-4.jpg" alt="" /></a>
                            </div>
                            
                        </div>
                        <!-- End Item -->
                        
                        <!-- Item -->
                        <div class="col-sm-4 mb-20 wow fadeIn" data-wow-delay="0.2s" data-wow-duration="2s">
                            
                            <div class="post-prev-img">
                                <a href="#"><img src="assets/fashion/image-5.jpg" alt="" /></a>
                            </div>
                            
                        </div>
                        <!-- End Item -->
                        
                        <!-- Item -->
                        <div class="col-sm-4 mb-20 wow fadeIn" data-wow-delay="0.3s" data-wow-duration="2s">
                            
                            <div class="post-prev-img">
                                <a href="#"><img src="assets/fashion/image-6.jpg" alt="" /></a>
                            </div>
                            
                        </div>
                        <!-- End Item -->
                        
                    </div>
                    
                </div>
            </section>
            <!-- End Section -->
            
            
            <!-- Section -->
            <section class="page-section">
                <div class="container relative">
                    
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs tpl-tabs animate">
                        <li class="active">
                            <a href="#one" data-toggle="tab">Trendness</a>
                        </li>
                        <li>
                            <a href="#two" data-toggle="tab">Bestsellers</a>
                        </li>
                        <li>
                            <a href="#three" data-toggle="tab">Featured</a>
                        </li>
                    </ul>
                    <!-- End Nav tabs -->
                    
                    <!-- Tab panes -->
                    <div class="tab-content tpl-tabs-cont section-text">
                        <div class="tab-pane fade in active" id="one">
                            
                            <div class="row">
                                
                                <div class="col-sm-4">
                                    
                                    <ul class="clearlist widget-posts">
                                        
                                        <!-- Preview item -->
                                        <li class="clearfix">
                                            <a href=""><img src="assets/shop/previews/shop-prev-1.jpg" alt="" class="widget-posts-img" /></a>
                                            <div class="widget-posts-descr">
                                                <a href="#" title="">Polo Shirt With Argyle Print</a>
                                                <div>
                                                    <del>
                                                        50.00
                                                    </del>&nbsp;
                                                    $25.99
                                                </div>
                                                <div>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-half-o"></i>
                                                </div>
                                            </div>
                                        </li>
                                        <!-- End Preview item -->
                                        
                                        <!-- Preview item -->
                                        <li class="clearfix">
                                            <a href=""><img src="assets/shop/previews/shop-prev-2.jpg" alt="" class="widget-posts-img" /></a>
                                            <div class="widget-posts-descr">
                                                <a href="#" title="">Polo Slim Fit Pique Badge Logo</a>
                                                <div>
                                                    $75.00
                                                </div>
                                                <div>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                            </div>
                                        </li>
                                        <!-- End Preview item -->
                                        
                                    </ul>
                                    
                                </div>
                                
                                <div class="col-sm-4">
                                    
                                    <ul class="clearlist widget-posts">
                                        
                                        <!-- Preview item -->
                                        <li class="clearfix">
                                            <a href=""><img src="assets/shop/previews/shop-prev-3.jpg" alt="" class="widget-posts-img" /></a>
                                            <div class="widget-posts-descr">
                                                <a href="#" title="">Esprit Pique Polo Shirt</a>
                                                <div>
                                                    $30.99
                                                </div>
                                                <div>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-half-o"></i>
                                                </div>
                                            </div>
                                        </li>
                                        <!-- End Preview item -->
                                        
                                        <!-- Preview item -->
                                        <li class="clearfix">
                                            <a href=""><img src="assets/shop/previews/shop-prev-4.jpg" alt="" class="widget-posts-img" /></a>
                                            <div class="widget-posts-descr">
                                                <a href="#" title="">Polo Shirt With Argyle Print</a>
                                                <div>
                                                    $15.99
                                                </div>
                                                <div>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                            </div>
                                        </li>
                                        <!-- End Preview item -->
                                        
                                    </ul>
                                    
                                </div>
                                
                                <div class="col-sm-4">
                                    
                                    <ul class="clearlist widget-posts">
                                        
                                        <!-- Preview item -->
                                        <li class="clearfix">
                                            <a href=""><img src="assets/shop/previews/shop-prev-2.jpg" alt="" class="widget-posts-img" /></a>
                                            <div class="widget-posts-descr">
                                                <a href="#" title="">Polo Slim Fit Pique Badge Logo</a>
                                                <div>
                                                    $75.00
                                                </div>
                                                <div>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                            </div>
                                        </li>
                                        <!-- End Preview item -->
                                        
                                        <!-- Preview item -->
                                        <li class="clearfix">
                                            <a href=""><img src="assets/shop/previews/shop-prev-5.jpg" alt="" class="widget-posts-img" /></a>
                                            <div class="widget-posts-descr">
                                                <a href="#" title="">Polo Shirt With Argyle Print</a>
                                                <div>
                                                    $15.99
                                                </div>
                                                <div>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                            </div>
                                        </li>
                                        <!-- End Preview item -->
                                        
                                    </ul>
                                    
                                </div>
                                
                            </div>
                            
                        </div>
                        <div class="tab-pane fade" id="two">
                        
                            <div class="row">
                            
                                <div class="col-sm-4">
                                    
                                    <ul class="clearlist widget-posts">
                                        
                                        <!-- Preview item -->
                                        <li class="clearfix">
                                            <a href=""><img src="assets/shop/previews/shop-prev-2.jpg" alt="" class="widget-posts-img" /></a>
                                            <div class="widget-posts-descr">
                                                <a href="#" title="">Polo Slim Fit Pique Badge Logo</a>
                                                <div>
                                                    $75.00
                                                </div>
                                                <div>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                            </div>
                                        </li>
                                        <!-- End Preview item -->
                                        
                                        <!-- Preview item -->
                                        <li class="clearfix">
                                            <a href=""><img src="assets/shop/previews/shop-prev-5.jpg" alt="" class="widget-posts-img" /></a>
                                            <div class="widget-posts-descr">
                                                <a href="#" title="">Polo Shirt With Argyle Print</a>
                                                <div>
                                                    $15.99
                                                </div>
                                                <div>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                            </div>
                                        </li>
                                        <!-- End Preview item -->
                                        
                                    </ul>
                                    
                                </div>
                                
                                <div class="col-sm-4">
                                    
                                    <ul class="clearlist widget-posts">
                                        
                                        <!-- Preview item -->
                                        <li class="clearfix">
                                            <a href=""><img src="assets/shop/previews/shop-prev-1.jpg" alt="" class="widget-posts-img" /></a>
                                            <div class="widget-posts-descr">
                                                <a href="#" title="">Polo Shirt With Argyle Print</a>
                                                <div>
                                                    <del>
                                                        50.00
                                                    </del>&nbsp;
                                                    $25.99
                                                </div>
                                                <div>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-half-o"></i>
                                                </div>
                                            </div>
                                        </li>
                                        <!-- End Preview item -->
                                        
                                        <!-- Preview item -->
                                        <li class="clearfix">
                                            <a href=""><img src="assets/shop/previews/shop-prev-2.jpg" alt="" class="widget-posts-img" /></a>
                                            <div class="widget-posts-descr">
                                                <a href="#" title="">Polo Slim Fit Pique Badge Logo</a>
                                                <div>
                                                    $75.00
                                                </div>
                                                <div>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                            </div>
                                        </li>
                                        <!-- End Preview item -->
                                        
                                    </ul>
                                    
                                </div>
                                
                                <div class="col-sm-4">
                                    
                                    <ul class="clearlist widget-posts">
                                        
                                        <!-- Preview item -->
                                        <li class="clearfix">
                                            <a href=""><img src="assets/shop/previews/shop-prev-3.jpg" alt="" class="widget-posts-img" /></a>
                                            <div class="widget-posts-descr">
                                                <a href="#" title="">Esprit Pique Polo Shirt</a>
                                                <div>
                                                    $30.99
                                                </div>
                                                <div>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-half-o"></i>
                                                </div>
                                            </div>
                                        </li>
                                        <!-- End Preview item -->
                                        
                                        <!-- Preview item -->
                                        <li class="clearfix">
                                            <a href=""><img src="assets/shop/previews/shop-prev-4.jpg" alt="" class="widget-posts-img" /></a>
                                            <div class="widget-posts-descr">
                                                <a href="#" title="">Polo Shirt With Argyle Print</a>
                                                <div>
                                                    $15.99
                                                </div>
                                                <div>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                            </div>
                                        </li>
                                        <!-- End Preview item -->
                                        
                                    </ul>
                                    
                                </div>
                                
                           </div>
                        
                        </div>
                        
                        <div class="tab-pane fade" id="three">
                        
                            <div class="row">
                                
                                <div class="col-sm-4">
                                    
                                    <ul class="clearlist widget-posts">
                                        
                                        <!-- Preview item -->
                                        <li class="clearfix">
                                            <a href=""><img src="assets/shop/previews/shop-prev-1.jpg" alt="" class="widget-posts-img" /></a>
                                            <div class="widget-posts-descr">
                                                <a href="#" title="">Polo Shirt With Argyle Print</a>
                                                <div>
                                                    <del>
                                                        50.00
                                                    </del>&nbsp;
                                                    $25.99
                                                </div>
                                                <div>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-half-o"></i>
                                                </div>
                                            </div>
                                        </li>
                                        <!-- End Preview item -->
                                        
                                        <!-- Preview item -->
                                        <li class="clearfix">
                                            <a href=""><img src="assets/shop/previews/shop-prev-2.jpg" alt="" class="widget-posts-img" /></a>
                                            <div class="widget-posts-descr">
                                                <a href="#" title="">Polo Slim Fit Pique Badge Logo</a>
                                                <div>
                                                    $75.00
                                                </div>
                                                <div>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                            </div>
                                        </li>
                                        <!-- End Preview item -->
                                        
                                    </ul>
                                    
                                </div>
                                
                                
                                <div class="col-sm-4">
                                    
                                    <ul class="clearlist widget-posts">
                                        
                                        <!-- Preview item -->
                                        <li class="clearfix">
                                            <a href=""><img src="assets/shop/previews/shop-prev-2.jpg" alt="" class="widget-posts-img" /></a>
                                            <div class="widget-posts-descr">
                                                <a href="#" title="">Polo Slim Fit Pique Badge Logo</a>
                                                <div>
                                                    $75.00
                                                </div>
                                                <div>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                            </div>
                                        </li>
                                        <!-- End Preview item -->
                                        
                                        <!-- Preview item -->
                                        <li class="clearfix">
                                            <a href=""><img src="assets/shop/previews/shop-prev-5.jpg" alt="" class="widget-posts-img" /></a>
                                            <div class="widget-posts-descr">
                                                <a href="#" title="">Polo Shirt With Argyle Print</a>
                                                <div>
                                                    $15.99
                                                </div>
                                                <div>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                            </div>
                                        </li>
                                        <!-- End Preview item -->
                                        
                                    </ul>
                                    
                                </div>
                                
                                <div class="col-sm-4">
                                    
                                    <ul class="clearlist widget-posts">
                                        
                                        <!-- Preview item -->
                                        <li class="clearfix">
                                            <a href=""><img src="assets/shop/previews/shop-prev-3.jpg" alt="" class="widget-posts-img" /></a>
                                            <div class="widget-posts-descr">
                                                <a href="#" title="">Esprit Pique Polo Shirt</a>
                                                <div>
                                                    $30.99
                                                </div>
                                                <div>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-half-o"></i>
                                                </div>
                                            </div>
                                        </li>
                                        <!-- End Preview item -->
                                        
                                        <!-- Preview item -->
                                        <li class="clearfix">
                                            <a href=""><img src="assets/shop/previews/shop-prev-4.jpg" alt="" class="widget-posts-img" /></a>
                                            <div class="widget-posts-descr">
                                                <a href="#" title="">Polo Shirt With Argyle Print</a>
                                                <div>
                                                    $15.99
                                                </div>
                                                <div>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                            </div>
                                        </li>
                                        <!-- End Preview item -->
                                        
                                    </ul>
                                    
                                </div>
                                
                            </div>
                        
                        </div>
                    </div>
                    <!-- End Tab panes -->
                    
                </div>
            </section>
            <!-- End Section -->
            
            <!-- Divider -->
            <hr class="mt-0 mb-0 "/>
            <!-- End Divider -->
            
            
            <!-- Section -->
            <section class="page-section">
                <div class="container relative">
                    
                    <!-- Features Grid -->
                    <div class="row alt-features-grid">
                        
                        <!-- Text Item -->
                        <div class="col-sm-3">
                            <div class="alt-features-item align-center">
                                <div class="alt-features-descr align-left">
                                    <h4 class="mt-0 font-alt">How we work?</h4>
                                    Lorem ipsum dolor sit amet, c-r adipiscing elit. 
                                    In maximus ligula semper metus pellentesque mattis. 
                                    Maecenas  volutpat, diam enim.
                                </div>
                            </div>
                        </div>
                        <!-- End Text Item -->
                        
                        <!-- Features Item -->
                        <div class="col-sm-3">
                            <div class="alt-features-item align-center">
                                <div class="alt-features-icon">
                                    <span class="icon-chat"></span>
                                </div>
                                <h3 class="alt-features-title font-alt">Support 24/7</h3>
                            </div>
                        </div>
                        <!-- End Features Item -->
                        
                        <!-- Features Item -->
                        <div class="col-sm-3">
                            <div class="alt-features-item align-center">
                                <div class="alt-features-icon">
                                    <span class="icon-wallet"></span>
                                </div>
                                <h3 class="alt-features-title font-alt">100% Money Back</h3>
                            </div>
                        </div>
                        <!-- End Features Item -->
                        
                        <!-- Features Item -->
                        <div class="col-sm-3">
                            <div class="alt-features-item align-center">
                                <div class="alt-features-icon">
                                    <span class="icon-hotairballoon"></span>
                                </div>
                                <h3 class="alt-features-title font-alt">Worldwide Shipping</h3>
                            </div>
                        </div>
                        <!-- End Features Item -->
                        
                   </div>
                   <!-- End Features Grid -->
                    
                </div>
            </section>
            <!-- End Section -->
            
            
            <!-- Newsletter Section -->
            <section class="small-section bg-dark-lighter">
                <div class="container relative">
                    
                    <form class="form align-center" id="mailchimp">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                
                                <div class="newsletter-label font-alt">
                                    Stay informed with our newsletter
                                </div>
                                
                                <div class="mb-20">
                                    <input placeholder="Enter Your Email" class="newsletter-field form-control input-md round mb-xs-10" type="email" pattern=".{5,100}" required/>
                                    
                                    <button type="submit" class="btn btn-mod btn-w btn-medium btn-round mb-xs-10">
                                        Subscribe
                                    </button>
                                </div>
                                
                                <div class="form-tip">
                                    <i class="fa fa-info-circle"></i> Please trust us, we will never send you spam
                                </div>
                                
                                <div id="subscribe-result"></div>
                                
                            </div>
                        </div>
                    </form>
                    
                </div>
            </section>
            <!-- End Newsletter Section -->
            
        </div>
        <!-- End Page Wrap -->
        
    </body>
</html>
